# **Lab: Model Serving**

## Exercise 1: EDA and Baseline Model

In this exercise we will start our data science project by preparing the dataset for modeling.

The steps are:
1.   Setup Environment
2.   Load and explore dataset
3.   Prepare Data
4.   Split Dataset
5.   Get Baseline model
6.   Train SGD
7.   Push changes

### 1. Setup Environment

**[1.1]** Go to a folder of your choice on your computer (where you store projects)

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
cd /Users/anthonyso/Projects/adv_mla_2023/

**[1.2]** Copy the cookiecutter data science template

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
cookiecutter https://github.com/drivendata/cookiecutter-data-science

Follow the prompt (name the project and repo adv_mla_lab_4)

**[1.3]** Go inside the created folder `adv_mla_lab_4`

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
cd adv_mla_lab_4

**[1.4]** Initialise the repo

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git init

**[1.5]** Login into Github with your account (https://github.com/) and create a public repo with the name `adv_mla_lab_4`

**[1.6]** In your local repo `adv_mla_lab_4`, link it with Github (replace the url with your username)

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git remote add origin git@github.com:<username>/adv_mla_lab_4

**[1.7]** Set the python version to 3.9.13 with pyenv

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
pyenv local 3.9.13

**[1.8]** Initialise poetry project

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution
poetry init

**[1.9]** Install with poetry the following packages:
*   pandas 2.0.1
*   sklearn 1.2.2

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution
poetry add jupyterlab==3.6.3 pandas==2.0.1 scikit-learn==1.2.2

**[1.10]** Download the dataset into the sub-folder data/raw (https://github.com/aso-uts/labs_datasets/raw/main/36120-adv_mla/lab04/archive.zip)

In [ ]:
# For Windows users, you can download and install WGET. Or you can manually download the file from the link and save it to specified path
wget -P /Users/anthonyso/Projects/adv_mla_2023/adv_mla_lab_4/data/raw https://github.com/aso-uts/labs_datasets/raw/main/36120-adv_mla/lab04/archive.zip

**[1.11]** Add you changes to git staging area, commit and push them to Github

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git add .
git commit -m "init"
git push --set-upstream origin master

**[1.12]** Preventing push to `master` branch

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution
git config branch.master.pushRemote no_push

**[1.13]** Create a new git branch called `data_prep`

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git checkout -b data_prep

**[1.14]** Launch Jupyter Lab from your virtual environment

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
#Solution:
poetry run jupyter lab

**[1.15]** Navigate the folder `notebooks` and create a new jupyter notebook called `1_baseline.ipynb`

### 2.   Load and Explore Dataset

**[2.1]** Launch magic commands to automatically reload modules

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
%load_ext autoreload
%autoreload 2

**[2.2]** Install your custom package with pip

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
! pip install -i https://test.pypi.org/simple/ my-krml-149874

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: my-krml-149874 in /Users/anthonyso/.pyenv/versions/3.9.13/lib/python3.9/site-packages (0.1.8)
Requirement already satisfied: pandas==2.0.1 in /Users/anthonyso/.pyenv/versions/3.9.13/lib/python3.9/site-packages (from my-krml-149874) (2.0.1)
Requirement already satisfied: scikit-learn==1.2.2 in /Users/anthonyso/.pyenv/versions/3.9.13/lib/python3.9/site-packages (from my-krml-149874) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/anthonyso/.pyenv/versions/3.9.13/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-149874) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/anthonyso/.pyenv/versions/3.9.13/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-149874) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/anthonyso/.pyenv/versions/3.9.13/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-149874) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/anthonyso/.pyenv/versions/3.9.13/lib/python3.9/site-packages (from pandas==2.0.1->my-krml-149874) (1.25.2)
Requirement already satisfied: scipy>=1.3.2 in /Users/anthonyso/.pyenv/versions/3.9.13/lib/python3.9/site-packages (from scikit-learn==1.2.2->my-krml-149874) (1.9.3)
Requirement already satisfied: joblib>=1.1.1 in /Users/anthonyso/.pyenv/versions/3.9.13/lib/python3.9/site-packages (from scikit-learn==1.2.2->my-krml-149874) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/anthonyso/.pyenv/versions/3.9.13/lib/python3.9/site-packages (from scikit-learn==1.2.2->my-krml-149874) (3.2.0)
Requirement already satisfied: six>=1.5 in /Users/anthonyso/.pyenv/versions/3.9.13/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas==2.0.1->my-krml-149874) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

**[2.3]** Import the pandas and numpy packages

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
import pandas as pd
import numpy as np

**[2.4]** Load the dataset into a dataframe called `df`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution:
df = pd.read_csv('../data/raw/archive.zip')

**[2.5]** Display the first 5 rows of `df`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
df.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Poor,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,Very Good,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,Very Good,Within the past year,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,Poor,Within the past year,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0

**[2.6]** Display the dimensions of `df`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
df.shape

(308854, 19)

**[2.7]** Display the summary (info) of `df`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308854 entries, 0 to 308853
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   General_Health                308854 non-null  object
 1   Checkup                       308854 non-null  object
 2   Exercise                      308854 non-null  object
 3   Heart_Disease                 308854 non-null  object
 4   Skin_Cancer                   308854 non-null  object
 5   Other_Cancer                  308854 non-null  object
 6   Depression                    308854 non-null  object
 7   Diabetes                      308854 non-null  object
 8   Arthritis                     308854 non-null  object
 9   Sex                           308854 non-null  object
 10  Age_Category                  308854 non-null  object
 11  Height_(cm)                   308854 non-null  float64
 12  Weight_(kg)                   308854 non-null  float64
 13  BMI                           308854 non-null  float64
 14  Smoking_History               308854 non-null  object
 15  Alcohol_Consumption           308854 non-null  float64
 16  Fruit_Consumption             308854 non-null  float64
 17  Green_Vegetables_Consumption  308854 non-null  float64
 18  FriedPotato_Consumption       308854 non-null  float64
dtypes: float64(7), object(12)
memory usage: 44.8+ MB

**[2.8]** Display the descriptive statistics of `df`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
df.describe()

,Height_(cm),Weight_(kg),BMI,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
count,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000
mean,170.615249,83.588655,28.626211,5.096366,29.835200,15.110441,6.296616
std,10.658026,21.343210,6.522323,8.199763,24.875735,14.926238,8.582954
min,91.000000,24.950000,12.020000,0.000000,0.000000,0.000000,0.000000
25%,163.000000,68.040000,24.210000,0.000000,12.000000,4.000000,2.000000
50%,170.000000,81.650000,27.440000,1.000000,30.000000,12.000000,4.000000
75%,178.000000,95.250000,31.850000,6.000000,30.000000,20.000000,8.000000
max,241.000000,293.020000,99.330000,30.000000,120.000000,128.000000,128.000000

### 3. Prepare Data

**[3.1]** Create a copy of `df` and save it into a variable called `df_cleaned`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
df_cleaned = df.copy()

**[3.2]** Import OneHotEncoder, StandardScaler, OrdinalEncoder from sklearn.preprocessing

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder

**[3.3]** Create a list called `num_cols` that will contain the list of columns that are numeric type

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
num_cols = df_cleaned.select_dtypes(include=['float64']).columns

**[3.4]** Create a list called `cat_cols` that will contain the list of columns that are categorical type

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
cat_cols = ['Arthritis', 'Depression', 'Diabetes', 'Exercise', 'Other_Cancer', 'Sex', 'Skin_Cancer', 'Smoking_History']

**[3.5]** Instantiate the StandardScaler

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
scaler = StandardScaler()

**[3.6]** Fit and apply the scaling on the numeric columns from `df_cleaned` and convert the results to a dataframe called `num_features`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
num_features = pd.DataFrame(scaler.fit_transform(df_cleaned[num_cols]), columns=df_cleaned[num_cols].columns)

,Height_(cm),Weight_(kg),BMI,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,-1.934250,-2.386180,-2.159696,-0.621527,0.006625,0.059597,0.664502
1,-0.526857,-0.303547,-0.051548,-0.621527,0.006625,-1.012342,-0.267579
2,-0.714510,0.227770,0.742649,-0.133707,-0.716973,-0.811354,1.130543
3,0.880535,0.461569,0.015913,-0.621527,0.006625,0.997544,0.198462
4,1.912623,0.227770,-0.652562,-0.621527,-0.877772,-0.744358,-0.733620
...,...,...,...,...,...,...,...
308849,-0.245379,-0.090833,0.064975,-0.133707,0.006625,-0.476373,-0.733620
308850,0.880535,-0.643702,-1.095656,0.354113,-0.596373,3.007431,-0.267579
308851,-1.277466,-1.047579,-0.603499,-0.133707,0.408624,-0.476373,-0.267579
308852,1.162014,-0.197190,-0.750686,-0.255662,0.006625,-0.208388,-0.733620
308853,-0.995988,-0.112385,0.472806,-0.499572,-0.998372,-0.208388,-0.617110

**[3.7]** Instantiate the OneHotEncoder

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
ohe = OneHotEncoder(sparse_output=False, drop='first')

**[3.8]** Fit and apply the OneHotEncoder on the categorical columns from `df_cleaned` and save the result in `cat_features`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
cat_features = ohe.fit_transform(df_cleaned[cat_cols])

**[3.9]** Convert `cat_features` into a dataframe

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
cat_features = pd.DataFrame(cat_features, columns=ohe.get_feature_names_out())

**[3.10]** Instantiate an OrdinalEncoder on the column `Age_Category`.  Then fit and apply the transformation on this column and save the result in dataframe called `ord_age_feature`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
age_ord = OrdinalEncoder()
ord_age_feature = age_ord.fit_transform(df_cleaned[['Age_Category']])
ord_age_feature = pd.DataFrame(ord_age_feature, columns=['Age_Category'])

**[3.11]** Instantiate an OrdinalEncoder on the column `General_Health`.  Then fit and apply the transformation on this column and save the result in dataframe called `ord_health_feature`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
health_ord = OrdinalEncoder(categories=[['Poor','Fair','Good','Very Good','Excellent']])
ord_health_feature = health_ord.fit_transform(df_cleaned[['General_Health']])
ord_health_feature = pd.DataFrame(ord_health_feature, columns=['General_Health'])

**[3.12]** Instantiate an OrdinalEncoder on the column `Checkup`.  Then fit and apply the transformation on this column and save the result in dataframe called `ord_checkup_feature`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
checkup_ord = OrdinalEncoder(categories=[['Within the past year','Within the past 2 years','Within the past 5 years','5 or more years ago','Never']])
ord_checkup_feature = checkup_ord.fit_transform(df_cleaned[['Checkup']])
ord_checkup_feature = pd.DataFrame(ord_checkup_feature, columns=['Checkup'])

**[3.13]** Combine all the transformed features into `features`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
features = num_features.copy()
features[ohe.get_feature_names_out()] = cat_features[ohe.get_feature_names_out()]
features['Age_Category'] = ord_age_feature['Age_Category']
features['General_Health'] = ord_health_feature['General_Health']
features['Checkup'] = ord_checkup_feature['Checkup']

**[3.14]** Save the prepared dataframe in the `data/interim` folder

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
features.to_csv('../data/interim/dataset_prepared.csv', index=False)

**[3.15]** Import dump from joblib

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution:
from joblib import dump

**[3.16]** Save all the sklearn transformers

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution:
dump(scaler, '../models/scaler.joblib')
dump(ohe, '../models/ohe.joblib')
dump(age_ord, '../models/age_ord.joblib')
dump(health_ord, '../models/health_ord.joblib')
dump(checkup_ord, '../models/checkup_ord.joblib')

['../models/checkup_ord.joblib']

**[3.17]** Convert the values of `Heart_Disease` into numerical type and save the results in a variable called `target`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
target = df_cleaned['Heart_Disease'].map({'Yes': 1, 'No': 0})

### 4. Split Dataset

**[4.1]** Import the function `split_sets_random` from your custom package and split the data into several sets as Numpy arrays

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
from my_krml_149874.data.sets import split_sets_random

X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(features, target, test_ratio=0.2)

**[4.2]** Import the function `save_sets` from your custom package and save the sets into the folder `data/processed`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
from my_krml_149874.data.sets import save_sets

save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='../data/processed/')

### 5. Baseline Model

**[5.1]** Import the `NullClassifier` class from your custom package

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution:
from my_krml_149874.models.null import NullClassifier

**[5.2]** Instantiate a `NullClassifier` and save it into a variable called `base_model`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution:
base_model = NullClassifier()

**[5.3]** Make a prediction using `fit_predict()` and save the results in a variable called `y_base`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution:
y_base = base_model.fit_predict(y_train)

/Users/anthonyso/.pyenv/versions/3.9.13/lib/python3.9/site-packages/my_krml_149874/models/null.py:80: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  self.pred_value = mode(y)[0][0]

**[5.4]** Import the function `print_classifier_scores` from your custom package and display the Accuracy and F1 scores of this baseline model on the training set

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
from my_krml_149874.models.performance import print_classifier_scores

print_classifier_scores(y_preds=y_base, y_actuals=y_train, set_name='Training')

Accuracy Training: 0.9196112502158522
F1 Training: 0.0

### 6. Train SGD

**[6.1]** Import SGDClassifier from sklearn.linear_model

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
from sklearn.linear_model import SGDClassifier

**[6.2]** Instantiate the SGDClassifier

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
model = SGDClassifier(loss='log_loss', penalty='elasticnet', max_iter=100000, early_stopping=True, random_state=42)

**[6.3]** Import the function `fit_assess_classifier` from your custom package

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
from my_krml_149874.models.performance import fit_assess_classifier

**[6.4]** Fit the model and display its performance on the training and validation sets

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
model = fit_assess_classifier(model, X_train, y_train, X_val, y_val)

Accuracy Training: 0.9073184683128993
F1 Training: 0.3056959210898654
Accuracy Validation: 0.905845785239028
F1 Validation: 0.2992771084337349

**[6.5]** Import `dump` from `joblib` and save the fitted model into the folder `models` as a file called `xgboost_default`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution:
from joblib import dump

dump(model,  '../models/sgd.joblib')

['../models/sgd.joblib']

### 7.   Push changes

**[7.1]** Add you changes to git staging area

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git add .

**[7.2]** Create the snapshot of your repository and add a description

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git commit -m "data prep"

**[7.3]** Push your snapshot to Github

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git push

**[7.4]** Go to Github and merge the branch after reviewing the code and fixing any conflict

**[7.5]** Check out to the master branch

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git checkout master

**[7.6]** Pull the latest updates

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git pull